<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Fitness App</title>
    <!-- need help importing font awesome -->
    <script src="https://kit.fontawesome.com/e17e22fe1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <div class="hero">
      <div class="nav-bar">
        <div class="nav-logo">
          <img src="../images/basic_logo.jpg" />
        </div>
        <div class="nav-links" id="nav-links">
          <i class="fas fa-close" onclick="closeMenu()"></i>
          <ul>
            <a href="/"><li>Home</li></a>
            <a href="/fitness/new"><li>Add Workout</li></a>
            <a href="/fitness/all"><li>My Workouts</li></a>
            <a href="/auth/google"><li>Login</li></a>
            <a href="/logout"> <li>Logout</li></a>
          </ul>
          <button type="button" class="btn">Login</button>
        </div>
        <i class="fas fa-bars" onclick="showMenu()"></i>
      </div>
      <div class="banner-title">
        <h1>Find <br />
          <span>your happy</span><br />
          Pace
        </h1>
        <button type="button" class="btn"><a href="/fitness/all">All Workouts</a></button>


      <div class="workout-form">
        <h2 class="form-header">Enter a Workout!</h2>
        <form action="/add-workout" method="POST">
          <label> <span class="inputs-text"> Workout Name: </span>
            <input type="text" name="workoutName" /> 
          </label>
            <br/>
          <label><span class="inputs-text"> Type of Workout:</span>
            <select name="workoutType">
              <option value="Strength">Strength</option>
              <option value="Cardio">Cardio</option>
            </select> 
          </label>
            <br />
          <label> <span class="inputs-text">Muscle Group (separate muscles with commas):</span>
            <input type="text" name="muscleCategory" /> </label>
            <br />
            <label> <span class="inputs-text">Date:</span>
              <input type="datetime-local" name="date">
            </label>
            <label><span class="inputs-text">Sets:</span>
              <input type="number" name="sets">
            </label><br>
            <label><span class="inputs-text">Reps:</span>
              <input type="number" name="reps">
            </label><br>
            <label><span class="inputs-text">Duration (minutes):</span>
              <input type="number" name="durationMins">
            </label><br>
          <input type="submit" value="Add Workout" />
        </form>
      </div>
    </div>

    <script>
      var show = document.getElementById("nav-links");
      function showMenu() {
        show.style.right = "0";
      }
      function closeMenu() {
        show.style.right = "-200";
      }
    </script>
  </body>
</html>
